body {
	padding-top: 70px;
	/* 생략 */
}
.last-row {
    background-color: #f2f2f2;
    text-align: center;
}

.search-bar {
	height:auto;
    display: inline-block;
    padding: 0px;
    margin-right: 10px;
}

.search-bar input[type="text"] {
	height:33px;
    padding-left:10px;
    padding-top:3px;
    margin-bottom:1px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-bar button {
    background-color: #005f83;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    margin-left: 6px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0080c0;
}

.action-buttons {
    display: inline-block;
    float: right;
}

.list-button,
.write-button {
    background-color: #005f83;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 4px;
    cursor: pointer;
}

.list-button:hover,
.write-button:hover {
    background-color: #0080c0;
}
.head {
	height: 40px;
	padding: 1rem;
	color: white;
	background: #005f83;
	font-weight: bold;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.container {
	font-family: arial;
	font-size: 24px;
	margin-left: 25px;
	margin-top: 10px;
	margin-right: 25px;
	padding-bottom: 100px; /* footer 높이만큼 아래 여백 추가 */
	display: flex;
	justify-content: center;
	height: auto;
}
form{
	
	
}
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10rem;
	background: rgba(147, 175, 199, 0.175);
}

.custom-form {
	font-family: Arial, sans-serif;
	width: 100%;
}
.readInput{
    border: 0px;
    background-color: #f2f2f200;
    font-size: x-large;
    color: #f2f2f2;
    pointer-events: none;
    
}
.readInputOther{
    border: 0px;
    background-color: #f2f2f200;
    font-size: smaller;
    pointer-events: none;
    
}
.readInputContent{
    border: 0px;
    background-color: #f2f2f200;
    font-size:medium;
    width:780px;
    height:auto;
   	
    
    
}
.writeInput{
    
    background-color: #ffffff;
   	font-size: midium;
    
    
}
.writeInputOther{
    
    background-color: #ffffff;
    font-size: smaller;
    
}
.writeInputContent{
    
    background-color: #ffffff;
    font-size:medium;
    width:800px;
    height: auto;
    
}
table {
	width: 800px;
	border-collapse: collapse;
	box-shadow: 5px 5px 3px #666 border-radius:1px;
}

th {
	height: 50px;
	background-color: #ffb81c;
	color: #ffffff;
}

th, td {
	padding: 10px;
	text-align: left;
}

th.bno, td.bno {
	width: 30px;
	padding-left: 20px;
}

th.title, td.title {
	width: 200px;
}

th.writer, td.writer, th.date, td.date {
	width: 50px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}